.grid {
    width: 1024px;
    background-color: #fff4e6;
    border: 5px solid #4b3832;
    margin-left: auto;
    margin-right: auto;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 33.33%;
    display: block;
}


img {
    width: 320px;
    height: 300px;
    margin: 10px;
    border: 1px solid #4b3832;
}